@import "tailwindcss";

@theme {
  --color-brand-blue: var(--brand-blue);
  --color-brand-yellow: var(--brand-yellow);
  
  --font-clash: var(--font-clash);
  --font-poppins: var(--font-poppins);
  --font-satoshi: var(--font-satoshi);
}

:root {
  /* Centralized Colors */
  --brand-blue: #0f25e6;
  --brand-yellow: #d4ff00; 
  
  --background: var(--brand-blue);
  --foreground: #ffffff;
  --primary: var(--brand-yellow);
  --primary-foreground: #000000;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.1);
  --ring: var(--brand-yellow);
  --radius: 0.5rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  background-image: 
    linear-gradient(to right, rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 50px 50px;
}