@import "tailwindcss";

@theme {
  --color-brand-blue: var(--brand-blue);
  --color-brand-yellow: var(--brand-yellow);
  
  --font-clash: var(--font-clash);
  --font-poppins: var(--font-poppins);
  --font-satoshi: var(--font-satoshi);
}

:root {
  --brand-blue: #0f25e6;
  --brand-yellow: #d4ff00; 
  
  --background: #ffffff; 
  --foreground: #000000; 
  --primary: var(--brand-yellow);
  --primary-foreground: #000000;
  --border: rgba(0, 0, 0, 0.1);
  --input: rgba(0, 0, 0, 0.1);
  --ring: var(--brand-yellow);
  --radius: 0.5rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}